.contactListItem {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.contactListItemBtn {
    min-width: 50px;
    height: 36px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 8px;
    margin-right: 6px;
    padding: 0 16px 0 16px;
    border: none;
    border-radius: 6px;
    flex-grow: 1;

    align-items: right;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;

    cursor: pointer;

    color: #ffffff;
    background-color: rgba(23, 26, 32, 0.8);
}

.contactListItemBtn:hover {
    cursor: pointer;

    background-color: rgba(23, 26, 32, 1);
}